Repository yewstack/yew, pull requests merged in 2021-09, with the labels that each got.

#2055 Fix not removing readers in file upload example
  examples/file_upload/src/main.rs
Labels: A-examples

#2071 Fix unmaintained `anymap` dependency
  packages/yew-agent/Cargo.toml
  packages/yew-agent/src/local/context.rs
  packages/yew-agent/src/worker/public.rs
Labels: A-yew-agent

#2065 Component lifecycle scheduler optimizations
  .github/workflows/pull-request.yml
  Makefile.toml
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/scheduler.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vnode.rs
Labels: A-yew

#2080 Use into_prop_value to convert str prop to Option<String>
  packages/yew-macro/src/props/component.rs
  packages/yew-macro/tests/html_macro/component-pass.rs
Labels: A-yew-macro

#2083 Add `services` removal in next version warning
  website/versioned_docs/version-0.18.0/concepts/services.md
Labels: documentation

#2085 yew-agent: add missing web-sys features
  packages/yew-agent/Cargo.toml
Labels: A-yew-agent

#2084 Remove `web_sys` re-export
  examples/boids/Cargo.toml
  examples/boids/src/slider.rs
  examples/crm/Cargo.toml
  examples/crm/src/add_client.rs
  examples/js_callback/Cargo.toml
  examples/js_callback/src/main.rs
  examples/keyed_list/Cargo.toml
  examples/keyed_list/src/main.rs
  examples/store/Cargo.toml
  examples/store/src/text_input.rs
  examples/todomvc/Cargo.toml
  examples/todomvc/src/main.rs
  packages/website-test/Cargo.toml
  packages/yew-macro/tests/html_macro/html-element-pass.rs
  packages/yew/Cargo.toml
  packages/yew/src/functional/hooks/use_ref.rs
  packages/yew/src/html/listener/mod.rs
  packages/yew/src/lib.rs
  website/docs/concepts/components.md
  website/docs/concepts/components/callbacks.md
  website/docs/concepts/components/refs.md
  website/docs/concepts/function-components/pre-defined-hooks.md
  website/docs/concepts/html/elements.md
  website/docs/concepts/html/events.md
Labels: A-yew

#2090 Update tutorial to use `use_effect_deps` instead of `use_effect`
  website/docs/tutorial.md
Labels: documentation

#2092 impl PartialEq for `UseStateHandle` and `UseReducerHandle`
  packages/yew/src/functional/hooks/use_reducer.rs
  packages/yew/src/functional/hooks/use_state.rs
Labels: A-yew
