Repository yewstack/yew, pull requests merged in 2021-11, with the labels that each got.

#1994 Add custom type for attribute values
  examples/keyed_list/Cargo.toml
  examples/router/src/pages/post.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/stringify.rs
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew-macro/tests/html_macro/html-element-pass.rs
  packages/yew/src/html/classes.rs
  packages/yew/src/html/conversion.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vtag.rs
Labels: A-yew, A-yew-macro

#2119 add redirection to crm example
  examples/crm/src/main.rs
Labels: A-examples

#2118 Update Yew Router as per #2113
  examples/router/src/components/author_card.rs
  examples/router/src/components/post_card.rs
  examples/router/src/main.rs
  examples/router/src/pages/post.rs
  examples/router/src/pages/post_list.rs
  packages/yew-router-macro/src/routable_derive.rs
  packages/yew-router/Cargo.toml
  packages/yew-router/src/components/link.rs
  packages/yew-router/src/components/mod.rs
  packages/yew-router/src/components/redirect.rs
  packages/yew-router/src/history.rs
  packages/yew-router/src/hooks.rs
  packages/yew-router/src/lib.rs
  packages/yew-router/src/routable.rs
  packages/yew-router/src/router.rs
  packages/yew-router/src/scope_ext.rs
  packages/yew-router/src/service.rs
  packages/yew-router/src/switch.rs
  packages/yew-router/src/utils.rs
  packages/yew-router/tests/history.rs
  packages/yew-router/tests/router.rs
  website/docs/concepts/router.md
Labels: A-examples, A-yew-router

#2137 Tidy up documentation (2)
  ci/dictionary.txt
  website/docs/concepts/agents.md
  website/docs/concepts/function-components.md
  website/docs/concepts/html/lists.md
  website/versioned_docs/version-0.18.0/concepts/html.md
  website/versioned_docs/version-0.18.0/concepts/html/literals-and-expressions.md
Labels: documentation

#2124 Use functions from `gloo_utils` instead of re-implementing them
  examples/dyn_create_destroy_apps/Cargo.toml
  examples/dyn_create_destroy_apps/src/main.rs
  examples/futures/Cargo.toml
  examples/futures/src/main.rs
  examples/inner_html/Cargo.toml
  examples/inner_html/src/main.rs
  examples/mount_point/Cargo.toml
  examples/mount_point/src/main.rs
  examples/two_apps/Cargo.toml
  examples/two_apps/src/main.rs
  packages/website-test/Cargo.toml
  packages/yew-agent/Cargo.toml
  packages/yew-agent/src/worker/mod.rs
  packages/yew-router/Cargo.toml
  packages/yew-router/src/history.rs
  packages/yew-router/src/utils.rs
  packages/yew-router/tests/router.rs
  packages/yew-router/tests/utils.rs
  packages/yew/Cargo.toml
  packages/yew/src/app_handle.rs
  packages/yew/src/functional/hooks/use_effect.rs
  packages/yew/src/functional/hooks/use_ref.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/lib.rs
  packages/yew/src/utils/mod.rs
  packages/yew/src/virtual_dom/listeners.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
  packages/yew/tests/common/mod.rs
  packages/yew/tests/mod.rs
  packages/yew/tests/use_context.rs
  packages/yew/tests/use_effect.rs
  packages/yew/tests/use_reducer.rs
  packages/yew/tests/use_ref.rs
  packages/yew/tests/use_state.rs
  website/docs/concepts/function-components/pre-defined-hooks.md
  website/docs/concepts/html/elements.md
Labels: A-examples, A-yew-router, A-yew, A-yew-agent

#2125 `use_bridge` hook for agents
  packages/yew-agent/src/hooks.rs
  packages/yew-agent/src/lib.rs
  website/docs/concepts/agents.md
Labels: A-yew-agent

#2147 Implementation of portals
  Cargo.toml
  examples/portals/Cargo.toml
  examples/portals/README.md
  examples/portals/index.html
  examples/portals/src/main.rs
  packages/website-test/Cargo.toml
  packages/website-test/build.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/lib.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vportal.rs
  website/docs/advanced-topics/portals.md
  website/sidebars.js
Labels: A-examples, documentation, A-yew

#2158 bump strum strum_macros @0.23
  examples/function_todomvc/Cargo.toml
  examples/function_todomvc/src/state.rs
  examples/todomvc/Cargo.toml
Labels: dependencies

#2086 allow web worker resource to be relative
  packages/yew-agent/src/lib.rs
  packages/yew-agent/src/worker/mod.rs
  packages/yew-agent/src/worker/private.rs
  packages/yew-agent/src/worker/public.rs
Labels: A-yew-agent

#1706 Replace `crm` example with `password strength` to show controlled components
  Cargo.toml
  examples/README.md
  examples/crm/Cargo.toml
  examples/crm/README.md
  examples/crm/index.html
  examples/crm/src/add_client.rs
  examples/crm/src/main.rs
  examples/password_strength/Cargo.toml
  examples/password_strength/README.md
  examples/password_strength/index.html
  examples/password_strength/index.scss
  examples/password_strength/src/app.rs
  examples/password_strength/src/main.rs
  examples/password_strength/src/password.rs
  examples/password_strength/src/text_input.rs
Labels: A-examples

#2093 Refactor use ref hooks
  packages/yew-agent/src/hooks.rs
  packages/yew/src/functional/hooks/use_ref.rs
  packages/yew/tests/use_context.rs
  packages/yew/tests/use_effect.rs
  packages/yew/tests/use_reducer.rs
  packages/yew/tests/use_ref.rs
  website/docs/concepts/function-components/pre-defined-hooks.md
Labels: A-yew

#1748 Add basic lints to the HTML macro.
  .github/workflows/pull-request.yml
  examples/game_of_life/src/main.rs
  examples/router/src/components/author_card.rs
  examples/router/src/components/pagination.rs
  examples/router/src/components/post_card.rs
  examples/router/src/main.rs
  examples/router/src/pages/author.rs
  examples/router/src/pages/home.rs
  examples/router/src/pages/post.rs
  examples/router/src/pages/post_list.rs
  packages/yew-macro/Cargo.toml
  packages/yew-macro/Makefile.toml
  packages/yew-macro/src/html_tree/html_block.rs
  packages/yew-macro/src/html_tree/html_dashed_name.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/html_tree/html_list.rs
  packages/yew-macro/src/html_tree/lint/mod.rs
  packages/yew-macro/src/html_tree/mod.rs
  packages/yew-macro/src/lib.rs
  packages/yew-macro/tests/html_lints/fail.rs
  packages/yew-macro/tests/html_lints/fail.stderr
  packages/yew-macro/tests/html_lints_test.rs
  packages/yew-macro/tests/html_macro/html-component-fail.stderr
  packages/yew-router/src/components/link.rs
  website/docs/concepts/html.md
Labels: macro, A-yew-macro

#2169 Remove extra braces in html_nested macro
  packages/yew-macro/Makefile.toml
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/html_tree/mod.rs
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/html_macro/as-return-value-pass.rs
  packages/yew-macro/tests/html_macro/component-unimplemented-fail.stderr
Labels: macro, A-yew-macro

#2166 Improve documentation of the router
  website/docs/concepts/router.md
Labels: documentation, S-waiting-on-author

#2173 Fix Router Docs
  website/docs/concepts/router.md
Labels: documentation

#2177 Respect <base> href in Links href
  packages/yew-router/src/components/link.rs
  packages/yew-router/src/history.rs
Labels: A-yew-router

#2179 Fix router example.
  packages/yew-router/src/router.rs
Labels: A-examples

#1609 Add the ability to add child nodes conditionally in `html!`
  packages/yew-macro/src/html_tree/html_if.rs
  packages/yew-macro/src/html_tree/mod.rs
  packages/yew-macro/tests/html_macro/html-if-fail.rs
  packages/yew-macro/tests/html_macro/html-if-fail.stderr
  packages/yew-macro/tests/html_macro/html-if-pass.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vtag.rs
  website/docs/concepts/html.md
Labels: ergonomics, macro, A-yew-macro

#2172 Add possibility to cancel bubbling
  packages/yew/src/virtual_dom/listeners.rs
  packages/yew/src/virtual_dom/mod.rs
Labels: documentation, A-yew

#2178 Add key docs and Move fragments docs
  website/docs/concepts/html/fragments.md
  website/docs/concepts/html/lists.md
  website/sidebars.js
Labels: documentation

#2171 Add multithreading example
  .github/workflows/publish-examples.yml
  Cargo.toml
  examples/multi_thread/README.md
  examples/web_worker_fib/Cargo.toml
  examples/web_worker_fib/README.md
  examples/web_worker_fib/build.sh
  examples/web_worker_fib/serve.sh
  examples/web_worker_fib/src/agent.rs
  examples/web_worker_fib/src/app.rs
  examples/web_worker_fib/src/lib.rs
  examples/web_worker_fib/static/index.html
Labels: A-examples

#2191 Check event bubbling cancellation at each step of propagation
  packages/yew/src/virtual_dom/listeners.rs
Labels: A-yew

#2192 Add missing router docs: Redirect, Nested Router, and Path Segament capturing
  packages/yew-router/src/switch.rs
  website/docs/concepts/router.md
  website/static/img/nested-router.gif
  website/static/img/router-deserialization-failure-behavior.gif
Labels: documentation, A-yew-router

#2204 Fix href lint error in tests
  packages/yew-router/tests/router.rs
Labels: meta

#2208 Fix nested list demo
  examples/nested_list/src/app.rs
  examples/nested_list/src/list.rs
Labels: A-examples

#2195 Refactor vlist to use less macros and unsafe
  examples/web_worker_fib/Cargo.toml
  packages/yew/src/virtual_dom/vlist.rs
Labels: A-yew

#2207 Router example fix burger
  examples/router/index.scss
Labels: A-examples

#2209 Remove Issuehunt info from README
  README.md
Labels: meta

#2215 Update docosaurus to v2 beta 9
  website/docs/concepts/components/introduction.md
  website/docs/concepts/function-components/attribute.md
  website/docs/concepts/function-components/introduction.md
  website/docs/concepts/html/classes.md
  website/docs/concepts/html/elements.md
  website/docs/concepts/html/introduction.md
  website/docs/concepts/html/lists.md
  website/docs/concepts/services/format.md
  website/docs/concepts/wasm-bindgen/introduction.md
  website/docs/getting-started/build-a-sample-app.md
  website/docs/getting-started/project-setup/introduction.md
  website/docs/intro.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/versioned_docs/version-0.18.0/concepts/html.md
  website/versioned_docs/version-0.18.0/concepts/html/classes.md
  website/versioned_docs/version-0.18.0/concepts/html/elements.md
  website/versioned_docs/version-0.18.0/concepts/html/events.md
  website/versioned_docs/version-0.18.0/concepts/html/lists.md
  website/versioned_docs/version-0.18.0/getting-started/choose-web-library.md
Labels: documentation, meta

#2210 Add migration guide for 0.19
  website/docs/migration-guides/yew-agent/from-0_0_0-to-0_1_0.md
  website/docs/migration-guides/yew-router/from-0_15_0-to-0_16_0.md
  website/docs/migration-guides/yew/from-0_18_0-to-0_19_0.md
  website/sidebars.js
Labels: documentation, meta
