Repository yewstack/yew, pull requests merged in 2022-06, with the labels that each got.

#2717 Fix: check examples depending on lipsum for rust 1.56
  examples/function_router/Cargo.toml
  examples/router/Cargo.toml
Labels: A-examples, A-ci

#2719 `Callback::reform()` should return `Callback<T, OUT>`
  packages/yew/src/callback.rs
Labels: breaking change, A-yew

#2727 Better NodeRefs Example
  examples/node_refs/README.md
  examples/node_refs/index.html
  examples/node_refs/src/input.rs
  examples/node_refs/src/main.rs
  examples/node_refs/styles.css
Labels: A-examples

#2728 Fix dangling urls
  examples/boids/README.md
  examples/file_upload/README.md
  examples/function_todomvc/README.md
  examples/game_of_life/README.md
  examples/timer/README.md
  examples/todomvc/README.md
Labels: A-examples

#2740 Increase MSRV to 1.56.1
  .github/workflows/main-checks.yml
  README.md
  packages/yew-macro/Cargo.toml
  packages/yew-macro/Makefile.toml
  packages/yew-router-macro/Cargo.toml
  packages/yew-router-macro/Makefile.toml
  packages/yew-router/Cargo.toml
  packages/yew/Cargo.toml
  website/docs/getting-started/introduction.mdx
Labels: breaking change, A-ci

#2734 [Docs] String Literals Behavior
  website/docs/concepts/html/literals-and-expressions.mdx
Labels: documentation

#2729 Redo properties, take 2
  packages/yew-macro/src/derive_props/builder.rs
  packages/yew-macro/src/derive_props/field.rs
  packages/yew-macro/src/derive_props/generics.rs
  packages/yew-macro/src/derive_props/mod.rs
  packages/yew-macro/src/props/component.rs
  packages/yew-macro/tests/derive_props/fail.rs
  packages/yew-macro/tests/derive_props/fail.stderr
  packages/yew-macro/tests/derive_props/pass.rs
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/props_macro/props-fail.stderr
  packages/yew-macro/tests/props_macro/props-pass.rs
  packages/yew/src/html/component/properties.rs
Labels: breaking change, A-yew, A-yew-macro

#2749 Allow VNode props to be converted to Children.
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew/src/html/conversion.rs
Labels: A-yew

#2465 [tutorial] Add missing import
  website/docs/tutorial/index.mdx
  website/versioned_docs/version-0.19.0/tutorial/index.mdx
Labels: documentation, S-waiting-on-author

#2722 add use_bridge docs
  packages/yew-agent/Cargo.toml
  packages/yew-agent/src/hooks.rs
Labels: A-yew-agent, S-waiting-on-author
