Repository yewstack/yew, pull requests merged in 2022-04, with the labels that each got.

#2569 Add deployment section in docs
  website/docs/more/deployment.mdx
  website/sidebars/docs.js
Labels: documentation

#2570 Update context docs
  website/docs/concepts/contexts.mdx
Labels: documentation

#2585 Fix macro hygine issues
  packages/yew-macro/src/derive_props/builder.rs
  packages/yew-macro/src/derive_props/field.rs
  packages/yew-macro/src/derive_props/generics.rs
  packages/yew-macro/src/derive_props/mod.rs
  packages/yew-macro/src/derive_props/wrapper.rs
  packages/yew-macro/src/hook/mod.rs
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/src/html_tree/html_dashed_name.rs
  packages/yew-macro/src/html_tree/mod.rs
  packages/yew-macro/tests/function_component_attr/no-name-default-pass.rs
  packages/yew-macro/tests/function_component_attr/with-defaulted-type-param-pass.rs
  packages/yew-macro/tests/hook_attr/hook-lifetime-pass.rs
  packages/yew-macro/tests/hook_attr/hook_macro-pass.rs
  packages/yew-macro/tests/html_macro/html-if-pass.rs
Labels: A-yew-macro

#2594 Impl ImplicitClone for Rc<T> when T is not Sized
  packages/yew/src/html/conversion.rs
Labels: A-yew

#2586 Introduce a dedicated use_force_update hook
  packages/yew/src/functional/hooks/mod.rs
  packages/yew/src/functional/hooks/use_force_update.rs
  website/docs/concepts/function-components/hooks/introduction.mdx
  website/docs/concepts/function-components/hooks/use-force-update.mdx
Labels: ergonomics, documentation, A-yew

#2603 simple counter application with functional components
  Cargo.toml
  examples/README.md
  examples/counter_functional/Cargo.toml
  examples/counter_functional/README.md
  examples/counter_functional/index.html
  examples/counter_functional/src/main.rs
Labels: A-examples

#2593 Add the ability to use non-literal string as attribute names
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vtag.rs
Labels: breaking change, A-yew

#2597 Fix issue with node refs and hydration
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/dom_bundle/utils.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
Labels: bug, A-yew

#2604 Code Size: Document and use additional nightly features
  .github/workflows/size-cmp.yml
  ci/collect_sizes.py
  website/docs/advanced-topics/optimizations.mdx
Labels: documentation, A-ci

#2609 Add `use_future` hook to make consuming futures as suspense easier
  packages/yew/src/suspense/hooks.rs
  packages/yew/src/suspense/mod.rs
  packages/yew/tests/suspense.rs
Labels: ergonomics, A-yew

#2617 Allow to consume deps in use_callback hook
  packages/yew/src/functional/hooks/use_callback.rs
  packages/yew/tests/use_callback.rs
  website/docs/concepts/function-components/hooks/use-callback.mdx
Labels: breaking change, A-yew

#2592 Fix some Hook edge cases
  packages/yew-macro/src/hook/lifetime.rs
  packages/yew-macro/src/hook/mod.rs
  packages/yew-macro/src/hook/signature.rs
  packages/yew-macro/tests/hook_attr/hook-dynamic-dispatch-pass.rs
  packages/yew-macro/tests/hook_attr/hook-return-impl-trait-pass.rs
  packages/yew-macro/tests/hook_attr/hook-return-ref-pass.rs
Labels: A-yew, A-yew-macro

#2579 Remove IntoComponent
  packages/yew-macro/src/function_component.rs
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/html_macro/component-unimplemented-fail.stderr
  packages/yew/src/app_handle.rs
  packages/yew/src/functional/mod.rs
  packages/yew/src/html/component/marker.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/lib.rs
  packages/yew/src/renderer.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/suspense/component.rs
  packages/yew/src/suspense/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/tests/failed_tests/base_component_impl-fail.rs
  packages/yew/tests/failed_tests/base_component_impl-fail.stderr
  packages/yew/tests/failed_tests/sealed_base_component_impl-fail.rs
  packages/yew/tests/failed_tests/sealed_base_component_impl-fail.stderr
  packages/yew/tests/hydration.rs
  packages/yew/tests/native_failed_test.rs
Labels: A-yew, A-yew-macro

#2611 Improve js_callback example
  examples/README.md
  examples/js_callback/.gitignore
  examples/js_callback/Cargo.toml
  examples/js_callback/README.md
  examples/js_callback/Trunk.toml
  examples/js_callback/index.html
  examples/js_callback/index.scss
  examples/js_callback/js/imp.js
  examples/js_callback/js/unimp.js
  examples/js_callback/src/bindings.rs
  examples/js_callback/src/get-payload-script.js
  examples/js_callback/src/main.rs
  examples/js_callback/trunk_post_build.rs
Labels: A-examples

#2620 Improve grammar and paragraph structure in documentation
  examples/keyed_list/src/main.rs
  website/docs/concepts/agents.mdx
  website/docs/concepts/basic-web-technologies/css.mdx
  website/docs/concepts/basic-web-technologies/html.mdx
  website/docs/concepts/basic-web-technologies/js.mdx
  website/docs/concepts/basic-web-technologies/wasm-bindgen.mdx
  website/docs/concepts/basic-web-technologies/web-sys.mdx
  website/docs/concepts/function-components/callbacks.mdx
  website/docs/concepts/function-components/children.mdx
  website/docs/concepts/function-components/hooks/custom-hooks.mdx
  website/docs/concepts/function-components/hooks/introduction.mdx
  website/docs/concepts/function-components/hooks/use-callback.mdx
  website/docs/concepts/function-components/hooks/use-context.mdx
  website/docs/concepts/function-components/hooks/use-effect.mdx
  website/docs/concepts/function-components/hooks/use-force-update.mdx
  website/docs/concepts/function-components/hooks/use-memo.mdx
  website/docs/concepts/function-components/hooks/use-node-ref.mdx
  website/docs/concepts/function-components/hooks/use-reducer.mdx
  website/docs/concepts/function-components/hooks/use-state.mdx
  website/docs/concepts/function-components/introduction.mdx
  website/docs/concepts/function-components/node-refs.mdx
  website/docs/concepts/function-components/properties.mdx
  website/docs/concepts/function-components/pure-components.mdx
  website/docs/concepts/function-components/state.mdx
  website/docs/concepts/html/lists.mdx
  website/docs/getting-started/build-a-sample-app.mdx
  website/docs/getting-started/editor-setup.mdx
  website/docs/getting-started/examples.mdx
  website/i18n/ja/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-CN/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-TW/docusaurus-plugin-content-docs/current.json
  website/sidebars/docs.js
Labels: documentation

#2628 Move hook API docs to Rustdoc
  packages/yew/src/callback.rs
  packages/yew/src/functional/hooks/use_callback.rs
  packages/yew/src/functional/hooks/use_context.rs
  packages/yew/src/functional/hooks/use_effect.rs
  packages/yew/src/functional/hooks/use_force_update.rs
  packages/yew/src/functional/hooks/use_memo.rs
  packages/yew/src/functional/hooks/use_reducer.rs
  packages/yew/src/functional/hooks/use_ref.rs
  packages/yew/src/functional/hooks/use_state.rs
  website/docs/concepts/contexts.mdx
  website/docs/concepts/function-components/hooks/introduction.mdx
  website/docs/concepts/function-components/hooks/use-callback.mdx
  website/docs/concepts/function-components/hooks/use-context.mdx
  website/docs/concepts/function-components/hooks/use-effect.mdx
  website/docs/concepts/function-components/hooks/use-force-update.mdx
  website/docs/concepts/function-components/hooks/use-memo.mdx
  website/docs/concepts/function-components/hooks/use-mut-ref.mdx
  website/docs/concepts/function-components/hooks/use-node-ref.mdx
  website/docs/concepts/function-components/hooks/use-reducer.mdx
  website/docs/concepts/function-components/hooks/use-state.mdx
  website/docs/concepts/function-components/node-refs.mdx
  website/docs/concepts/function-components/state.mdx
  website/package-lock.json
  website/sidebars/docs.js
Labels: documentation, A-yew

#2640 Fix cargo make config and tests
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main-checks.yml
  Makefile.toml
  packages/yew-macro/Makefile.toml
  packages/yew-router-macro/Makefile.toml
  packages/yew-router/Makefile.toml
  packages/yew/Makefile.toml
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/bportal.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/dom_bundle/btext.rs
  packages/yew/src/tests/layout_tests.rs
  packages/yew/src/tests/mod.rs
Labels: A-ci

#2647 Enable tokio feature for native tests in CI
  .github/workflows/main-checks.yml
Labels: A-ci

#2648 Don't use wasm-pack in CI
  .github/workflows/main-checks.yml
  Cargo.toml
Labels: A-ci
