Repository yewstack/yew, pull requests merged in 2022-10, with the labels that each got.

#2887 Evaluate props in the order they're defined
  packages/yew-macro/src/props/prop.rs
  packages/yew-macro/src/props/prop_macro.rs
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew-macro/tests/props_macro_test.rs
  website/docs/concepts/function-components/properties.mdx
Labels: A-yew-macro

#2907 Fixes checked property being reset on render
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/virtual_dom/vtag.rs
Labels: A-yew, A-yew-macro

#2886 Fix issues with tuples in closing tag
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/tests/html_macro/component-fail.rs
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/generic-component-fail.rs
  packages/yew-macro/tests/html_macro/generic-component-fail.stderr
  packages/yew-macro/tests/html_macro/generic-component-pass.rs
Labels: A-yew-macro

#2926 Fix onsubmit event type
  website/docs/concepts/html/events.mdx
Labels: documentation, A-yew

#2904 Use Ref::filter_map if rustc is later than 1.63
  packages/yew/Cargo.toml
  packages/yew/src/html/component/scope.rs
Labels: A-yew

#2909 Fix typo in contrib instructions `cargo make tests` -> `cargo make test`
  CONTRIBUTING.md
Labels: documentation

#2906 Add new line indicator to tutorial/index.mdx
  website/docs/tutorial/index.mdx
  website/versioned_docs/version-0.19.0/tutorial/index.mdx
Labels: documentation

#2893 Separate Yew Platform
  ci/feature-soundness-release.sh
  ci/feature-soundness.sh
  examples/Cargo.lock
  examples/futures/Cargo.toml
  examples/js_callback/Cargo.toml
  examples/simple_ssr/Cargo.toml
  examples/ssr_router/Cargo.toml
  packages/yew/Cargo.toml
  packages/yew/Makefile.toml
  packages/yew/src/html/component/scope.rs
  packages/yew/src/lib.rs
  packages/yew/src/platform.rs
  packages/yew/src/platform/fmt/buffer.rs
  packages/yew/src/platform/fmt/mod.rs
  packages/yew/src/platform/mod.rs
  packages/yew/src/platform/pinned/mod.rs
  packages/yew/src/platform/pinned/mpsc.rs
  packages/yew/src/platform/pinned/oneshot.rs
  packages/yew/src/platform/rt_none/mod.rs
  packages/yew/src/platform/rt_none/time.rs
  packages/yew/src/platform/rt_tokio/local_worker.rs
  packages/yew/src/platform/rt_tokio/mod.rs
  packages/yew/src/platform/rt_tokio/time.rs
  packages/yew/src/platform/rt_wasm_bindgen/mod.rs
  packages/yew/src/platform/rt_wasm_bindgen/time.rs
  packages/yew/src/platform/time.rs
  packages/yew/src/scheduler.rs
  packages/yew/src/utils/mod.rs
  tools/benchmark-ssr/Cargo.toml
Labels: A-yew-platform
