Repository yewstack/yew, pull requests merged in 2022-08, with the labels that each got.

#2786 Make fn update() re-render the component by default
  packages/yew/src/html/component/mod.rs
Labels: A-yew

#2800 SSR Benchmark
  .github/workflows/benchmark-ssr.yml
  .github/workflows/post-benchmark-ssr.yml
  ci/make_benchmark_ssr_cmt.py
  tools/Cargo.lock
  tools/Cargo.toml
  tools/benchmark-ssr/Cargo.toml
  tools/benchmark-ssr/src/main.rs
Labels: A-yew

#2805 Fix SSR Benchmark
  .github/workflows/benchmark-ssr.yml
  .github/workflows/post-benchmark-ssr.yml
  ci/make_benchmark_ssr_cmt.py
Labels: A-ci, A-yew

#2806 Fix SSR Benchmark, 2nd attempt
  ci/make_benchmark_ssr_cmt.py
Labels: A-ci, A-yew

#2801 Fix VList Stream in SSR
  packages/yew/src/virtual_dom/vlist.rs
Labels: A-yew

#2814 Replace custom logging by tracing
  packages/yew-router/Cargo.toml
  packages/yew-router/src/switch.rs
  packages/yew/Cargo.toml
  packages/yew/src/app_handle.rs
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/dom_bundle/btext.rs
  packages/yew/src/dom_bundle/utils.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/scheduler.rs
  packages/yew/src/server_renderer.rs
Labels: ergonomics, A-yew

#2816 onsubmit should be a SubmitEvent
  packages/yew/Cargo.toml
  packages/yew/src/html/listener/events.rs
  packages/yew/src/lib.rs
Labels: bug, breaking change, A-yew

#2817 Document anti-pattern regarding props
  website/docs/concepts/function-components/properties.mdx
Labels: documentation

#2820 Allow keywords after dash in element and attribute names
  packages/yew-macro/src/html_tree/html_dashed_name.rs
  packages/yew-macro/tests/html_macro/html-element-pass.rs
Labels: bug, A-yew-macro

#2825 Fix Clippy for 1.63
  examples/Cargo.lock
  examples/contexts/src/msg_ctx.rs
  examples/function_memory_game/src/components/score_board.rs
  examples/function_memory_game/src/components/score_board_best_score.rs
  examples/function_memory_game/src/components/score_board_progress.rs
  examples/function_memory_game/src/constant.rs
  examples/function_memory_game/src/state.rs
  examples/function_router/src/app.rs
  examples/function_router/src/components/author_card.rs
  examples/function_router/src/components/pagination.rs
  examples/function_router/src/components/post_card.rs
  examples/function_router/src/pages/post.rs
  examples/function_todomvc/src/state.rs
  examples/game_of_life/src/cell.rs
  examples/password_strength/src/password.rs
  examples/router/src/components/author_card.rs
  examples/router/src/components/pagination.rs
  examples/router/src/components/post_card.rs
  examples/router/src/main.rs
  examples/todomvc/src/state.rs
  packages/yew-macro/src/html_tree/html_dashed_name.rs
  packages/yew-router/src/components/redirect.rs
  packages/yew-router/src/navigator.rs
  packages/yew-router/src/routable.rs
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/html/component/properties.rs
  packages/yew/src/suspense/hooks.rs
  tools/Cargo.lock
  tools/website-test/src/tutorial.rs
Labels: A-examples, A-ci, A-yew-router, A-yew, A-yew-macro, A-tools

#2826 Reduce SSR Buffers in VList
  packages/yew/Cargo.toml
  packages/yew/src/virtual_dom/vlist.rs
Labels: A-yew

#2827 Convert nightly from a feature flag to a compiler flag
  .github/workflows/main-checks.yml
  .github/workflows/size-cmp.yml
  ci/build-examples.sh
  packages/yew-macro/Cargo.toml
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/lib.rs
  packages/yew-macro/src/use_prepared_state.rs
  packages/yew/Cargo.toml
  packages/yew/src/functional/hooks/use_force_update.rs
  packages/yew/src/lib.rs
  packages/yew/tests/use_prepared_state.rs
Labels: A-yew, A-yew-macro

#2819 Bind to properties instead of attributes by default
  examples/counter_functional/src/main.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/props/prop.rs
  packages/yew-macro/src/props/prop_macro.rs
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew-macro/tests/html_macro/list-fail.stderr
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/tests/suspense.rs
Labels: breaking change, A-yew

#2811 Pinned Channels
  .github/workflows/main-checks.yml
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/platform/mod.rs
  packages/yew/src/platform/pinned/mod.rs
  packages/yew/src/platform/pinned/mpsc.rs
  packages/yew/src/platform/pinned/oneshot.rs
Labels: A-yew

#2772 Configurable Runtime
  .github/workflows/post-size-cmp.yml
  examples/Cargo.lock
  examples/simple_ssr/src/bin/simple_ssr_server.rs
  examples/ssr_router/Cargo.toml
  examples/ssr_router/src/bin/ssr_router_server.rs
  packages/yew/src/platform/mod.rs
  packages/yew/src/platform/rt_none/mod.rs
  packages/yew/src/platform/rt_tokio/local_worker.rs
  packages/yew/src/platform/rt_tokio/mod.rs
  packages/yew/src/platform/rt_wasm_bindgen/mod.rs
  packages/yew/src/server_renderer.rs
Labels: A-yew

#2849 Allow functions returning unit in `use_effect`
  packages/yew/src/functional/hooks/use_effect.rs
Labels: A-yew

#2737 Redesigned File Upload Example
  examples/Cargo.lock
  examples/file_upload/Cargo.toml
  examples/file_upload/index.html
  examples/file_upload/src/main.rs
  examples/file_upload/styles.css
Labels: A-examples, S-waiting-on-author

#2619 add send_stream method for Scope
  packages/yew/src/html/component/scope.rs
Labels: A-yew, S-waiting-on-author

#2759 Fixed render loop
  examples/Cargo.lock
  examples/webgl/Cargo.toml
  examples/webgl/src/main.rs
Labels: A-examples
