Repository yewstack/yew, pull requests merged in 2022-07, with the labels that each got.

#2697 Streamed SSR Response
  .github/workflows/main-checks.yml
  Cargo.toml
  ci/feature-soundness-release.sh
  ci/feature-soundness.sh
  examples/function_router/src/app.rs
  examples/simple_ssr/Cargo.toml
  examples/simple_ssr/src/bin/simple_ssr_server.rs
  examples/ssr_router/Cargo.toml
  examples/ssr_router/src/bin/ssr_router_server.rs
  packages/yew-macro/Cargo.toml
  packages/yew-macro/Makefile.toml
  packages/yew-macro/tests/classes_macro/classes-fail.stderr
  packages/yew-macro/tests/classes_macro_test.rs
  packages/yew-macro/tests/derive_props/fail.stderr
  packages/yew-macro/tests/derive_props_test.rs
  packages/yew-macro/tests/function_attr_test.rs
  packages/yew-macro/tests/function_component_attr/bad-return-type-fail.stderr
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/function_component_attr/hook_location-fail.stderr
  packages/yew-macro/tests/hook_attr/hook_location-fail.stderr
  packages/yew-macro/tests/hook_attr/hook_macro-fail.stderr
  packages/yew-macro/tests/hook_attr_test.rs
  packages/yew-macro/tests/html_macro/block-fail.stderr
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/component-unimplemented-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew-macro/tests/html_macro/iterable-fail.stderr
  packages/yew-macro/tests/html_macro/node-fail.stderr
  packages/yew-macro/tests/html_macro_test.rs
  packages/yew-macro/tests/props_macro_test.rs
  packages/yew-router-macro/Cargo.toml
  packages/yew-router-macro/Makefile.toml
  packages/yew-router-macro/tests/routable_derive_test.rs
  packages/yew-router/Cargo.toml
  packages/yew/Cargo.toml
  packages/yew/Makefile.toml
  packages/yew/src/functional/hooks/use_prepared_state/feat_hydration.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_ssr.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/io_coop.rs
  packages/yew/src/lib.rs
  packages/yew/src/platform/io.rs
  packages/yew/src/platform/mod.rs
  packages/yew/src/platform/rt_none.rs
  packages/yew/src/platform/rt_tokio.rs
  packages/yew/src/platform/rt_wasm_bindgen.rs
  packages/yew/src/platform/sync/mod.rs
  packages/yew/src/platform/sync/mpsc.rs
  packages/yew/src/scheduler.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/suspense/suspension.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
  tools/changelog/Cargo.toml
Labels: breaking change, A-yew

#2777 Fix workflows
  .github/workflows/benchmark.yml
  .github/workflows/size-cmp.yml
  examples/.cargo/config.toml
Labels: A-ci

#2769 Prepared States dependency should be Reference Counted
  packages/yew-macro/src/use_prepared_state.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_hydration_ssr.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_prepared_state/mod.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_hydration_ssr.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_transitive_state/mod.rs
Labels: breaking change, A-yew, A-yew-macro

#2783 Remove component NodeRef
  examples/nested_list/src/list.rs
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/tests/html_macro/component-fail.rs
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/component-pass.rs
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/html/conversion.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/tests/common/mod.rs
  website/docs/migration-guides/yew/from-0_19_0-to-0_20_0.mdx
Labels: breaking change, A-yew

#2794 Update Readme for simple_ssr example
  examples/simple_ssr/README.md
Labels: A-examples, documentation

#2784 Implement sleep and interval for Yew Platform
  packages/yew-router/tests/basename.rs
  packages/yew-router/tests/browser_router.rs
  packages/yew-router/tests/hash_router.rs
  packages/yew-router/tests/link.rs
  packages/yew/Cargo.toml
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/platform/mod.rs
  packages/yew/src/platform/rt_none.rs
  packages/yew/src/platform/rt_none/mod.rs
  packages/yew/src/platform/rt_none/time.rs
  packages/yew/src/platform/rt_tokio/mod.rs
  packages/yew/src/platform/rt_tokio/time.rs
  packages/yew/src/platform/rt_wasm_bindgen/mod.rs
  packages/yew/src/platform/rt_wasm_bindgen/time.rs
  packages/yew/src/platform/time.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/tests/common/mod.rs
  packages/yew/tests/hydration.rs
  packages/yew/tests/layout.rs
  packages/yew/tests/mod.rs
  packages/yew/tests/suspense.rs
  packages/yew/tests/use_callback.rs
  packages/yew/tests/use_context.rs
  packages/yew/tests/use_effect.rs
  packages/yew/tests/use_memo.rs
  packages/yew/tests/use_prepared_state.rs
  packages/yew/tests/use_reducer.rs
  packages/yew/tests/use_ref.rs
  packages/yew/tests/use_state.rs
  packages/yew/tests/use_transitive_state.rs
Labels: A-yew
