Repository yewstack/yew, pull requests merged in 2022-03, with the labels that each got.

#2492 fix clippy
  examples/boids/src/slider.rs
  examples/futures/src/markdown.rs
  packages/yew/src/virtual_dom/listeners.rs
  tools/process-benchmark-results/src/main.rs
  tools/website-test/build.rs
Labels: meta

#2330 Introduce explicit internal datastructures modeling dom state
  Makefile.toml
  packages/yew/src/dom_bundle/app_handle.rs
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/bportal.rs
  packages/yew/src/dom_bundle/bsuspense.rs
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/dom_bundle/btag/listeners.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/dom_bundle/btext.rs
  packages/yew/src/dom_bundle/mod.rs
  packages/yew/src/dom_bundle/tests/layout_tests.rs
  packages/yew/src/dom_bundle/tests/mod.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/lib.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/tests/mod.rs
  packages/yew/src/virtual_dom/listeners.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vportal.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
  tools/benchmark-hooks/Makefile.toml
  tools/benchmark-struct/Makefile.toml
  tools/process-benchmark-results/Makefile.toml
Labels: performance, A-yew

#2496 auto approve dependabot
  .github/workflows/auto-approve-maintainer-pr.yml
Labels: meta

#2500 bump website dependecies
  website/i18n/ja/code.json
  website/i18n/zh-CN/code.json
  website/i18n/zh-TW/code.json
  website/package-lock.json
  website/package.json
Labels: meta

#2501 bump rust dependecies
  examples/function_memory_game/Cargo.toml
  examples/function_todomvc/Cargo.toml
  examples/todomvc/Cargo.toml
  tools/changelog/Cargo.toml
Labels: meta

#2493 Sync awesome projects added recently.
  website/community/awesome.md
Labels: documentation

#2464 Includes query parameters in rendered Link component
  packages/yew-router/Cargo.toml
  packages/yew-router/src/components/link.rs
  packages/yew-router/src/utils.rs
  packages/yew-router/tests/link.rs
  packages/yew-router/tests/utils.rs
Labels: A-yew-router

#2494 Function Router Example
  Cargo.toml
  examples/function_router/Cargo.toml
  examples/function_router/README.md
  examples/function_router/data/keywords.txt
  examples/function_router/data/syllables.txt
  examples/function_router/data/yew.txt
  examples/function_router/index.html
  examples/function_router/index.scss
  examples/function_router/src/app.rs
  examples/function_router/src/components/author_card.rs
  examples/function_router/src/components/mod.rs
  examples/function_router/src/components/nav.rs
  examples/function_router/src/components/pagination.rs
  examples/function_router/src/components/post_card.rs
  examples/function_router/src/components/progress_delay.rs
  examples/function_router/src/content.rs
  examples/function_router/src/generator.rs
  examples/function_router/src/lib.rs
  examples/function_router/src/main.rs
  examples/function_router/src/pages/author.rs
  examples/function_router/src/pages/author_list.rs
  examples/function_router/src/pages/home.rs
  examples/function_router/src/pages/mod.rs
  examples/function_router/src/pages/page_not_found.rs
  examples/function_router/src/pages/post.rs
  examples/function_router/src/pages/post_list.rs
Labels: A-examples

#2478 Better Function Component in docs + Macro-based Hooks
  packages/yew-macro/src/function_component.rs
  packages/yew-macro/src/hook/body.rs
  packages/yew-macro/src/hook/mod.rs
  packages/yew-macro/src/hook/signature.rs
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/tests/function_component_attr/generic-pass.rs
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/hook_attr/hook_macro-fail.rs
  packages/yew-macro/tests/hook_attr/hook_macro-fail.stderr
  packages/yew-macro/tests/hook_attr/hook_macro-pass.rs
  packages/yew-macro/tests/html_macro/component-unimplemented-fail.stderr
  packages/yew/src/dom_bundle/app_handle.rs
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/functional/mod.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/lib.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/tests/failed_tests/base_component_impl-fail.stderr
  packages/yew/tests/failed_tests/sealed_base_component_impl-fail.rs
  packages/yew/tests/failed_tests/sealed_base_component_impl-fail.stderr
  tools/process-benchmark-results/src/main.rs
Labels: A-yew, A-yew-macro

#2512 Use path and Legit-Labs/action-download-artifact action in "Publish website" workflow
  .github/workflows/publish-website.yml
Labels: A-ci

#2502 Pause simulation, instead of resetting
  examples/boids/src/simulation.rs
Labels: A-examples

#2526 Fix dead link in tutorial
  website/versioned_docs/version-0.19.0/tutorial/index.mdx
Labels: documentation

#2527 Workaround upstream issue for password_strength
  examples/password_strength/Cargo.toml
Labels: A-examples

#2463 Update use-effect.mdx
  website/docs/concepts/function-components/hooks/use-effect.mdx
Labels: documentation

#2534 Update edition in docs and use git dependency for master docs
  website/docs/getting-started/build-a-sample-app.mdx
  website/docs/tutorial/index.mdx
Labels: documentation

#2532 Prevents Fallback UI from becoming suspended
  packages/yew/src/dom_bundle/bsuspense.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/suspense/component.rs
  packages/yew/src/suspense/mod.rs
  packages/yew/src/virtual_dom/vsuspense.rs
Labels: A-yew

#2533 add struct component context consumpion doc
  examples/contexts/src/main.rs
  examples/contexts/src/struct_component_subscriber.rs
  website/docs/concepts/contexts.mdx
Labels: A-examples, documentation

#2535 update nested router docs
  website/docs/concepts/router.mdx
  website/static/img/nested-router-dark.svg
  website/static/img/nested-router-light.svg
Labels: documentation

#2511 update HTML concept to use function components
  website/docs/concepts/html/classes.mdx
  website/docs/concepts/html/components.mdx
  website/docs/concepts/html/conditional-rendering.mdx
  website/docs/concepts/html/elements.mdx
  website/docs/concepts/html/events.mdx
  website/docs/concepts/html/fragments.mdx
  website/docs/concepts/html/introduction.mdx
  website/docs/concepts/html/lists.mdx
  website/docs/concepts/html/literals-and-expressions.mdx
Labels: documentation

#2537 An ever Increasing Component ID
  packages/yew/Cargo.toml
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/scheduler.rs
  packages/yew/tests/failed_tests/base_component_impl-fail.stderr
Labels: performance, A-yew

#2510 Scoped event handlers
  examples/portals/src/main.rs
  packages/yew/Cargo.toml
  packages/yew/src/app_handle.rs
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/bportal.rs
  packages/yew/src/dom_bundle/bsuspense.rs
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/dom_bundle/btag/listeners.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/dom_bundle/btext.rs
  packages/yew/src/dom_bundle/mod.rs
  packages/yew/src/dom_bundle/subtree_root.rs
  packages/yew/src/dom_bundle/traits.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/tests/layout_tests.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/tests/failed_tests/base_component_impl-fail.stderr
  website/docs/advanced-topics/portals.mdx
  website/docs/concepts/html/events.mdx
Labels: breaking change, A-yew

#2540 Introduce additional information in SSR artifact to facilitate Hydration
  packages/yew/src/html/component/scope.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
Labels: A-yew

#2554 Fix #2553 - automatically convert closure to callback for component properties
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew/src/html/conversion.rs
Labels: ergonomics, A-yew
