Repository yewstack/yew, pull requests merged in 2022-05, with the labels that each got.

#2651 Wasm doc tests
  .cargo/config
  .github/workflows/main-checks.yml
  tools/website-test/Cargo.toml
  website/docs/advanced-topics/server-side-rendering.md
Labels: A-ci

#2652 Update examples and their builds in CI
  .cargo/config.toml
  .github/workflows/publish-examples.yml
  .github/workflows/size-cmp.yml
  Cargo.toml
  ci/build-examples.sh
  ci/write-optimisation-flags.sh
  examples/README.md
  examples/agents/Cargo.toml
  examples/agents/README.md
  examples/agents/index.html
  examples/agents/src/bin/app.rs
  examples/agents/src/bin/worker.rs
  examples/agents/src/lib.rs
  examples/agents/src/native_worker.rs
  examples/web_worker_fib/Cargo.toml
  examples/web_worker_fib/README.md
  examples/web_worker_fib/build.sh
  examples/web_worker_fib/index.html
  examples/web_worker_fib/serve.sh
  examples/web_worker_fib/src/agent.rs
  examples/web_worker_fib/src/app.rs
  examples/web_worker_fib/src/bin/app.rs
  examples/web_worker_fib/src/bin/worker.rs
  examples/web_worker_fib/src/lib.rs
  examples/web_worker_fib/static/index.html
Labels: A-examples, A-ci

#2655 Actually build examples, not just echo
  .github/workflows/size-cmp.yml
  ci/build-examples.sh
  ci/write-optimisation-flags.sh
Labels: A-examples, A-ci

#2656 Fix Size Comparison
  .github/workflows/post-size-cmp.yml
  ci/collect_sizes.py
  ci/make_example_size_cmt.py
Labels: A-ci

#2657 Fix Size Comparison Comment
  .github/workflows/post-size-cmp.yml
Labels: A-ci

#2653 Attributes: Fix apply_diff_index_maps
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/dom_bundle/btag/mod.rs
Labels: A-yew

#2661 Fix dependabot auto approve
  .github/workflows/auto-approve-maintainer-pr.yml
Labels: A-ci

#2659 Make Switch to accept a closure as render function directly
  examples/function_router/src/app.rs
  examples/router/src/main.rs
  packages/yew-router/src/components/link.rs
  packages/yew-router/src/components/redirect.rs
  packages/yew-router/src/lib.rs
  packages/yew-router/src/navigator.rs
  packages/yew-router/src/scope_ext.rs
  packages/yew-router/src/switch.rs
  packages/yew-router/tests/basename.rs
  packages/yew-router/tests/browser_router.rs
  packages/yew-router/tests/hash_router.rs
  packages/yew/src/functional/hooks/mod.rs
  packages/yew/src/functional/hooks/use_context.rs
  packages/yew/tests/hydration.rs
  website/docs/concepts/router.mdx
  website/docs/migration-guides/yew-router/from-0_16_0-to-0_17_0.mdx
Labels: breaking change, A-yew-router, A-yew

#2666 Rework a bunch of cfg(feature) flags to be more principled
  .github/workflows/main-checks.yml
  examples/function_router/Cargo.toml
  examples/function_router/index.html
  examples/function_router/src/bin/function_router.rs
  examples/ssr_router/Cargo.toml
  examples/suspense/Cargo.toml
  examples/suspense/src/main.rs
  packages/yew-macro/Cargo.toml
  packages/yew-router/Cargo.toml
  packages/yew/Cargo.toml
  packages/yew/Makefile.toml
  packages/yew/src/app_handle.rs
  packages/yew/src/dom_bundle/bcomp.rs
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/bportal.rs
  packages/yew/src/dom_bundle/btag/listeners.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/dom_bundle/btext.rs
  packages/yew/src/dom_bundle/fragment.rs
  packages/yew/src/dom_bundle/mod.rs
  packages/yew/src/dom_bundle/utils.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/io_coop.rs
  packages/yew/src/lib.rs
  packages/yew/src/renderer.rs
  packages/yew/src/scheduler.rs
  packages/yew/src/suspense/component.rs
  packages/yew/src/suspense/hooks.rs
  packages/yew/src/suspense/suspension.rs
  packages/yew/src/tests/mod.rs
  packages/yew/src/virtual_dom/key.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
  packages/yew/tests/mod.rs
  packages/yew/tests/suspense.rs
  packages/yew/tests/use_callback.rs
  packages/yew/tests/use_context.rs
  packages/yew/tests/use_effect.rs
  packages/yew/tests/use_memo.rs
  packages/yew/tests/use_reducer.rs
  packages/yew/tests/use_ref.rs
  packages/yew/tests/use_state.rs
Labels: A-yew-router, A-yew

#2668 Document event delegation
  website/docs/concepts/html/events.mdx
Labels: documentation

#2662 Only approve if PR is not draft
  .github/workflows/auto-approve-maintainer-pr.yml
Labels: A-ci

#2669 Replace warp with axum for ssr_router example
  examples/ssr_router/Cargo.toml
  examples/ssr_router/src/bin/ssr_router_server.rs
Labels: A-examples

#2673 Change access to VList children to a wrapper
  examples/futures/src/markdown.rs
  packages/yew/src/virtual_dom/vlist.rs
  tools/changelog/Cargo.toml
Labels: breaking change, ergonomics, A-yew

#2674 Point to `callback_future` in `callback` docs
  packages/yew/src/html/component/scope.rs
Labels: documentation, A-yew

#2676 yew.rs/api redirect for api.yew.rs and use website the in the website navbar api.yew.rs
  website/src/theme/NavbarItem/DefaultNavbarItem.tsx
Labels: documentation, meta

#2665 Block props update during hydration
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/tests/hydration.rs
Labels: bug, A-yew

#2650 `use_prepared_state` & `use_transitive_state`
  .github/workflows/main-checks.yml
  examples/simple_ssr/Cargo.toml
  examples/simple_ssr/README.md
  examples/simple_ssr/index.html
  examples/simple_ssr/src/lib.rs
  examples/ssr_router/Cargo.toml
  examples/ssr_router/README.md
  examples/ssr_router/index.html
  packages/yew-macro/src/function_component.rs
  packages/yew-macro/src/lib.rs
  packages/yew-macro/src/use_prepared_state.rs
  packages/yew-macro/src/use_transitive_state.rs
  packages/yew-macro/tests/hook_macro/use_prepared_state-fail.rs
  packages/yew-macro/tests/hook_macro/use_prepared_state-fail.stderr
  packages/yew-macro/tests/hook_macro/use_transitive_state-fail.rs
  packages/yew-macro/tests/hook_macro/use_transitive_state-fail.stderr
  packages/yew-macro/tests/hook_macro_test.rs
  packages/yew/Cargo.toml
  packages/yew/src/dom_bundle/btag/listeners.rs
  packages/yew/src/functional/hooks/mod.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_hydration.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_hydration_ssr.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_none.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_prepared_state/mod.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_hydration.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_hydration_ssr.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_none.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_transitive_state/mod.rs
  packages/yew/src/functional/mod.rs
  packages/yew/src/html/component/lifecycle.rs
  packages/yew/src/html/component/mod.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/tests/use_prepared_state.rs
  packages/yew/tests/use_transitive_state.rs
Labels: A-examples, A-yew, A-yew-macro

#2692 Partially undo #2673, different approach for the DerefMut impl of VList
  examples/futures/src/markdown.rs
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/virtual_dom/vlist.rs
Labels: bug, A-yew

#2702 Span hygene and editor UX
  examples/counter_functional/src/main.rs
  packages/yew-macro/src/html_tree/html_component.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/html_tree/html_node.rs
  packages/yew-macro/src/html_tree/mod.rs
  packages/yew-macro/src/props/component.rs
  packages/yew-macro/src/stringify.rs
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/html_macro/block-fail.stderr
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/component-unimplemented-fail.stderr
Labels: ergonomics, A-yew-macro

#2707 Changed primary color to improve accessibility
  website/src/css/custom.css
Labels: documentation
