Repository yewstack/yew, pull requests merged in 2022-09, with the labels that each got.

#2824 Polled SSR Stream
  packages/yew/Cargo.toml
  packages/yew/src/html/component/scope.rs
  packages/yew/src/platform/fmt/buffer.rs
  packages/yew/src/platform/fmt/mod.rs
  packages/yew/src/platform/io.rs
  packages/yew/src/platform/mod.rs
  packages/yew/src/platform/pinned/mpsc.rs
  packages/yew/src/platform/pinned/oneshot.rs
  packages/yew/src/platform/rt_tokio/mod.rs
  packages/yew/src/platform/sync/mod.rs
  packages/yew/src/platform/sync/mpsc.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
  tools/Cargo.lock
Labels: breaking change, A-yew

#2864 Allow skipping a callback when reforming
  packages/yew/src/callback.rs
Labels: feature-request, A-yew

#2877 Simple `NodeRef` passing to `<Link>` for yew-router
  packages/yew-router/src/components/link.rs
Labels: A-yew-router

#2870 Various improvements to Classes, oriented around reducing allocations
  packages/yew/src/html/classes.rs
Labels: A-yew

#2882 Make Yew lints opt-in
  .github/workflows/main-checks.yml
  packages/yew-macro/Cargo.toml
  packages/yew-macro/src/html_tree/lint/mod.rs
  packages/yew-macro/tests/html_lints/fail.stderr
  packages/yew-macro/tests/html_lints_test.rs
Labels: A-yew-macro

#2885 Context: cleanup - avoid storing a copy of children
  packages/yew/src/context.rs
Labels: A-yew

#2888 Document how to specify attributes and properties
  website/docs/concepts/html/introduction.mdx
Labels: documentation
