Repository yewstack/yew, pull requests merged in 2023-09, with the labels that each got.

#3389 fix: typo fix
  website/i18n/ja/docusaurus-plugin-content-docs/version-0.20.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-0.20.json
  website/i18n/zh-Hant/docusaurus-plugin-content-docs/version-0.20.json
  website/versioned_sidebars/version-0.20-sidebars.json
Labels: documentation

#3383 Fix inspect-next-changelogs workflows
  .github/workflows/inspect-next-changelogs.yml
Labels: A-ci, meta

#3388 fix rust-analyzer non_camel_case_types warning
  packages/yew-macro/src/derive_props/field.rs
Labels: A-yew-macro

#3398 Remove special handing of struct fields of type `Option` in `derive(Properties)`
  packages/yew-macro/src/derive_props/field.rs
  packages/yew-macro/tests/derive_props/fail.rs
  packages/yew-macro/tests/derive_props/fail.stderr
  packages/yew-macro/tests/derive_props/pass.rs
  packages/yew/src/suspense/component.rs
Labels: breaking change, A-yew-macro

#3393 feat: support arrays for Classes/classes!()
  packages/yew-macro/tests/classes_macro/classes-pass.rs
  packages/yew/src/html/classes.rs
  website/docs/concepts/html/classes.mdx
Labels: A-yew

#3409 Improved Context API docs
  Cargo.lock
  examples/contexts/Cargo.toml
  examples/contexts/src/main.rs
  examples/contexts/src/producer.rs
  examples/contexts/src/struct_component_producer.rs
  packages/yew/src/functional/hooks/use_context.rs
  website/docs/concepts/contexts.mdx
Labels: documentation

#3391 Updated the docs of `set_event_bubbling`
  packages/yew/src/dom_bundle/subtree_root.rs
Labels: documentation, A-yew

#3410 Added a note about using suspension
  website/docs/concepts/suspense.mdx
Labels: documentation

#3421 Fix links to authors in the changelog generator.
  tools/changelog/src/create_log_line.rs
  tools/changelog/src/create_log_lines.rs
  tools/changelog/src/get_latest_version.rs
  tools/changelog/src/log_line.rs
  tools/changelog/src/write_log_lines.rs
Labels: A-tools

#3420 Remove the dependency on `boolinator`
  Cargo.lock
  packages/yew-macro/Cargo.toml
  packages/yew-macro/src/html_tree/html_dashed_name.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/html_tree/html_if.rs
  packages/yew-macro/src/html_tree/html_iterable.rs
  packages/yew-macro/src/html_tree/html_list.rs
  tools/website-test/Cargo.toml
Labels: A-yew-macro, A-tools

#3419 Add CallbackRef that takes ref in argument instead of value
  packages/yew/src/callback.rs
  packages/yew/src/lib.rs
Labels: A-yew
