Repository yewstack/yew, pull requests merged in 2023-08, with the labels that each got.

#3374 Link to Getting Started in examples README
  examples/README.md
Labels: documentation

#3373 Keep checked attribute for elements without special handling
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew/src/dom_bundle/btag/mod.rs
Labels: A-yew

#3375 Suspense example with struct component
  examples/suspense/index.scss
  examples/suspense/src/main.rs
  examples/suspense/src/struct_consumer.rs
  website/docs/concepts/suspense.mdx
Labels: A-examples, documentation

#3377 Warn about mismatched DOM in SSR docs
  website/docs/advanced-topics/server-side-rendering.md
Labels: documentation

#3372 Make signature of use_future_with consistent
  packages/yew/src/suspense/hooks.rs
  packages/yew/tests/suspense.rs
  website/docs/migration-guides/yew/from-0_20_0-to-next.mdx
Labels: breaking change, A-yew

#3255 Add breaking changes section to changelog generator
  tools/changelog/src/cli.rs
  tools/changelog/src/create_log_line.rs
  tools/changelog/src/log_line.rs
  tools/changelog/src/stdout_tag_description_changelog.rs
  tools/changelog/src/write_changelog_file.rs
  tools/changelog/src/write_log_lines.rs
  tools/changelog/src/write_version_changelog.rs
  tools/changelog/tests/generate_yew_changelog_file.rs
  tools/changelog/tests/test_expected.md
Labels: A-tools

#3376 Update signature of use_prepared_state/use_transitive_state
  examples/simple_ssr/src/lib.rs
  packages/yew-macro/src/use_prepared_state.rs
  packages/yew-macro/src/use_transitive_state.rs
  packages/yew-macro/tests/hook_macro/use_prepared_state-fail.rs
  packages/yew-macro/tests/hook_macro/use_prepared_state-fail.stderr
  packages/yew-macro/tests/hook_macro/use_transitive_state-fail.rs
  packages/yew-macro/tests/hook_macro/use_transitive_state-fail.stderr
  packages/yew/src/functional/hooks/use_prepared_state/feat_hydration_ssr.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_prepared_state/mod.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_hydration_ssr.rs
  packages/yew/src/functional/hooks/use_transitive_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_transitive_state/mod.rs
  packages/yew/tests/use_prepared_state.rs
  packages/yew/tests/use_transitive_state.rs
  tools/benchmark-ssr/src/main.rs
  website/docs/migration-guides/yew/from-0_20_0-to-next.mdx
Labels: breaking change, A-yew, A-yew-macro

#3379 Remove compatibility code before 1.64
  packages/yew/src/html/component/scope.rs
Labels: A-yew

#3381 (#3129) Fix incorrect text escaping during SSR
  packages/yew-macro/src/derive_props/field.rs
  packages/yew/src/html/component/scope.rs
  packages/yew/src/server_renderer.rs
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
Labels: bug, A-yew
