Repository yewstack/yew, pull requests merged in 2023-04, with the labels that each got.

#3202 Fix js-benchmark action
  .github/workflows/benchmark.yml
Labels: github_actions

#3193 todomvc example: Disallow entering empty items
  examples/todomvc/src/main.rs
Labels: A-examples

#3050 Make VList's children Rc'ed
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/virtual_dom/vlist.rs
  tools/benchmark-ssr/src/main.rs
Labels: A-yew

#3204 Update Dependencies with Breaking Changes
  Cargo.lock
  examples/file_upload/Cargo.toml
  examples/file_upload/src/main.rs
  examples/ssr_router/Cargo.toml
  examples/ssr_router/src/bin/ssr_router_server.rs
  website/i18n/ja/code.json
  website/i18n/ja/docusaurus-theme-classic/navbar.json
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  website/i18n/zh-Hant/code.json
  website/i18n/zh-Hant/docusaurus-theme-classic/navbar.json
  website/package-lock.json
  website/package.json
Labels: A-examples, dependencies

#3169 Incremental performance improvements to element creation
  packages/yew/Cargo.toml
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/dom_bundle/subtree_root.rs
Labels: performance, A-yew

#2861 Pass hook dependencies as the first function argument
  examples/function_memory_game/src/components/app.rs
  examples/function_router/src/components/author_card.rs
  examples/function_router/src/components/post_card.rs
  examples/function_router/src/components/progress_delay.rs
  examples/function_router/src/pages/author.rs
  examples/function_router/src/pages/post.rs
  examples/function_todomvc/src/main.rs
  examples/js_callback/src/main.rs
  packages/yew-router/src/router.rs
  packages/yew/src/functional/hooks/use_callback.rs
  packages/yew/src/functional/hooks/use_effect.rs
  packages/yew/src/functional/hooks/use_memo.rs
  packages/yew/src/functional/hooks/use_prepared_state/feat_ssr.rs
  packages/yew/src/functional/hooks/use_reducer.rs
  packages/yew/src/functional/hooks/use_ref.rs
  packages/yew/src/functional/hooks/use_state.rs
  packages/yew/tests/hydration.rs
  packages/yew/tests/layout.rs
  packages/yew/tests/suspense.rs
  packages/yew/tests/use_callback.rs
  packages/yew/tests/use_effect.rs
  packages/yew/tests/use_memo.rs
  packages/yew/tests/use_reducer.rs
  packages/yew/tests/use_state.rs
  website/docs/advanced-topics/server-side-rendering.md
  website/docs/concepts/contexts.mdx
  website/docs/concepts/function-components/hooks/custom-hooks.mdx
  website/docs/concepts/function-components/hooks/introduction.mdx
  website/docs/concepts/html/elements.mdx
  website/docs/concepts/html/events.mdx
  website/docs/migration-guides/yew/from-0_20_0-to-next.mdx
  website/docs/tutorial/index.mdx
  website/sidebars/docs.js
Labels: breaking change, A-examples, documentation, A-yew-router, A-yew

#3208 Approve maintainer pull requests when a pull request is ready for review
  .github/workflows/auto-approve-maintainer-pr.yml
Labels: A-ci

#3206 Enable PartialEq for all virtual dom types
  packages/yew/src/virtual_dom/vcomp.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vportal.rs
  packages/yew/src/virtual_dom/vraw.rs
  packages/yew/tests/use_context.rs
Labels: breaking change, A-yew

#3210 Update documentation.md
  .github/ISSUE_TEMPLATE/documentation.md
Labels: documentation

#3215 Fix function_memory_game
  examples/function_memory_game/src/components/app.rs
Labels: A-examples

#3128 Add a timer example that uses function components.
  examples/README.md
  examples/timer/src/main.rs
  examples/timer_functional/Cargo.toml
  examples/timer_functional/README.md
  examples/timer_functional/index.html
  examples/timer_functional/index.scss
  examples/timer_functional/src/main.rs
Labels: A-examples

#3214 Add webkitdirectory to the boolean attributes list
  packages/yew-macro/src/props/element.rs
Labels: A-yew

#3245 Hydration for `VRaw`
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/braw.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vraw.rs
  packages/yew/tests/hydration.rs
Labels: A-yew
