Repository yewstack/yew, pull requests merged in 2023-10, with the labels that each got.

#3429 Add safe mode to joke api
  examples/async_clock/src/services.rs
Labels: A-examples

#3436 Remove use of ChildrenRenderer from nested_list
  examples/nested_list/src/app.rs
  examples/nested_list/src/list.rs
Labels: A-examples

#3425 Add body tags
  website/docs/getting-started/build-a-sample-app.mdx
  website/versioned_docs/version-0.20/getting-started/build-a-sample-app.mdx
  website/versioned_docs/version-0.21/getting-started/build-a-sample-app.mdx
Labels: documentation

#3474 Only use Jemalloc on unix
  examples/ssr_router/Cargo.toml
  examples/ssr_router/src/bin/ssr_router_server.rs
  tools/benchmark-ssr/Cargo.toml
  tools/benchmark-ssr/src/main.rs
Labels: A-examples, A-tools

#3460 docs(migration): Fix 0.20 to 0.21 migration guide
  website/docs/migration-guides/yew/from-0_20_0-to-0_21_0.mdx
Labels: documentation

#3431 Make Html (VNode) cheap to clone
  examples/futures/src/markdown.rs
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/html_tree/html_list.rs
  packages/yew-macro/src/html_tree/mod.rs
  packages/yew-macro/tests/html_macro/component-any-children-pass.rs
  packages/yew-macro/tests/html_macro/component-pass.rs
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew/src/dom_bundle/blist.rs
  packages/yew/src/dom_bundle/bnode.rs
  packages/yew/src/dom_bundle/bportal.rs
  packages/yew/src/dom_bundle/btag/mod.rs
  packages/yew/src/html/classes.rs
  packages/yew/src/html/component/children.rs
  packages/yew/src/html/conversion/to_html.rs
  packages/yew/src/html/mod.rs
  packages/yew/src/utils/mod.rs
  packages/yew/src/virtual_dom/listeners.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vlist.rs
  packages/yew/src/virtual_dom/vnode.rs
  packages/yew/src/virtual_dom/vportal.rs
  packages/yew/src/virtual_dom/vraw.rs
  packages/yew/src/virtual_dom/vsuspense.rs
  packages/yew/src/virtual_dom/vtag.rs
  packages/yew/src/virtual_dom/vtext.rs
Labels: breaking change, A-yew

#3453 remove ToHtml trait
  examples/function_todomvc/src/state.rs
  examples/nested_list/src/item.rs
  examples/nested_list/src/list.rs
  examples/nested_list/src/main.rs
  examples/timer/src/main.rs
  examples/timer_functional/src/main.rs
  examples/todomvc/src/state.rs
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew/src/html/component/children.rs
  packages/yew/src/html/conversion/into_prop_value.rs
  packages/yew/src/html/conversion/mod.rs
  packages/yew/src/html/conversion/to_html.rs
  packages/yew/src/lib.rs
  packages/yew/src/virtual_dom/vcomp.rs
  website/docs/concepts/function-components/generics.mdx
Labels: breaking change, A-yew

#3497 Remove `class=(...)` syntax
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew-macro/src/props/element.rs
  packages/yew-macro/tests/html_macro/block-pass.rs
  packages/yew-macro/tests/html_macro/component-any-children-pass.rs
  packages/yew-macro/tests/html_macro/component-pass.rs
  packages/yew-macro/tests/html_macro/dyn-element-pass.rs
  packages/yew-macro/tests/html_macro/element-fail.rs
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew-macro/tests/html_macro/generic-component-pass.rs
  packages/yew-macro/tests/html_macro/html-element-pass.rs
  packages/yew-macro/tests/html_macro/html-if-pass.rs
  packages/yew-macro/tests/html_macro/html-node-pass.rs
  packages/yew-macro/tests/html_macro/iterable-pass.rs
  packages/yew-macro/tests/html_macro/list-pass.rs
  packages/yew-macro/tests/html_macro/node-pass.rs
  packages/yew-macro/tests/html_macro/svg-pass.rs
  packages/yew/src/dom_bundle/btag/mod.rs
Labels: breaking change, A-yew-macro

#3458 Allow setting JsValue as properties
  packages/yew-macro/src/html_tree/html_element.rs
  packages/yew/src/dom_bundle/btag/attributes.rs
  packages/yew/src/virtual_dom/mod.rs
  packages/yew/src/virtual_dom/vtag.rs
Labels: breaking change, A-yew
