Repository yewstack/yew, pull requests merged in 2024-08, with the labels that each got.

#3693 Raise MSRV to 1.76
  .github/workflows/main-checks.yml
  packages/yew-agent-macro/Cargo.toml
  packages/yew-agent/Cargo.toml
  packages/yew-macro/Cargo.toml
  packages/yew-macro/Makefile.toml
  packages/yew-macro/tests/classes_macro/classes-fail.stderr
  packages/yew-macro/tests/classes_macro_test.rs
  packages/yew-macro/tests/derive_props/fail.stderr
  packages/yew-macro/tests/derive_props_test.rs
  packages/yew-macro/tests/function_attr_test.rs
  packages/yew-macro/tests/function_component_attr/bad-return-type-fail.stderr
  packages/yew-macro/tests/function_component_attr/generic-props-fail.stderr
  packages/yew-macro/tests/hook_attr_test.rs
  packages/yew-macro/tests/hook_macro_test.rs
  packages/yew-macro/tests/html_macro/block-fail.stderr
  packages/yew-macro/tests/html_macro/component-fail.stderr
  packages/yew-macro/tests/html_macro/component-unimplemented-fail.stderr
  packages/yew-macro/tests/html_macro/element-fail.stderr
  packages/yew-macro/tests/html_macro/generic-component-fail.stderr
  packages/yew-macro/tests/html_macro/iterable-fail.stderr
  packages/yew-macro/tests/html_macro/list-fail.stderr
  packages/yew-macro/tests/html_macro/node-fail.stderr
  packages/yew-macro/tests/html_macro_test.rs
  packages/yew-macro/tests/props_macro/props-fail.stderr
  packages/yew-macro/tests/props_macro/resolve-prop-fail.stderr
  packages/yew-macro/tests/props_macro_test.rs
  packages/yew-router-macro/Cargo.toml
  packages/yew-router-macro/Makefile.toml
  packages/yew-router-macro/tests/routable_derive_test.rs
  packages/yew-router/Cargo.toml
  packages/yew/Cargo.toml
  packages/yew/src/scheduler.rs
  packages/yew/src/server_renderer.rs
  website/docs/getting-started/introduction.mdx
  website/versioned_docs/version-0.21/getting-started/introduction.mdx
Labels: A-yew-router, A-yew, A-yew-agent, A-yew-router-macro, A-yew-macro

#3548 Add use_raw_ref
  packages/yew/src/functional/hooks/use_ref.rs
  website/docs/concepts/function-components/hooks/introduction.mdx
Labels: breaking change, A-yew

#3716 Provide reference ref for benchmark action and make it less spammy
  .github/workflows/benchmark.yml
  .github/workflows/post-benchmark.yml
Labels: A-ci
